{%- style -%}
  /* .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  } */

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="reviews page-accent--{{ section.settings.color_accent }}">
	<div class="page-width isolate section-{{ section.id }}-padding">
		<h2 class="section-title h1 has-text-centered">Some Testimonials</h2>

		{%- capture reviews_html -%}
			{%- for block in section.blocks -%}
				{%- capture reviews_item_html -%}
					{{ block.settings.message }}
					{%- if block.settings.title != blank -%}
						<footer>
								<cite class="reviews__item-author">{{ block.settings.title }}</cite>
						</footer>
					{%- endif -%}
				{%- endcapture -%}

				{%- if reviews_item_html != blank -%}
					<div class="column is-6-touch is-one-quarter-desktop">
            <div class="reviews__item-rating" aria-label="5 star rating">
							{% for i in (1..5) %}
								<img src="{{ 'icon-star.svg' | asset_url }}" alt="Star icon">
							{% endfor %}
						</div>
						<blockquote class="reviews__item">
							{{- reviews_item_html -}}
						</blockquote>
					</div>
				{%- endif -%}
			{%- endfor -%}
		{%- endcapture -%}		

		{%- if reviews_html != blank -%}
			<div class="reviews__columns columns is-multiline is-mobile is-centered">{{ reviews_html }}</div>
		{%- endif -%}
	</div>
</div>

{% schema %}
{
  "name": "Featured Reviews",
  "tag": "section",
  "class": "section s-featured-reviews",
  "settings": [
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "select",
      "id": "color_accent",
      "options": [
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ],
      "default": "dark",
      "label": "Color accent"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],

	"blocks": [
		{
			"type": "review",
			"name": "Review",
			"settings": [
				{
					"type": "textarea",
					"id": "message",
					"label": "Message",
					"default": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
				},
				{
					"type": "text",
					"id": "title",
					"label": "Author Name",
					"default": "Customer"
				}
			]
		}
	],
	
  "presets": [
    {
      "name": "Featured Reviews"
    }
  ]
}
{% endschema %}